# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environments
# ===========================

venv/
env/
.venv/

# ===========================
# Jupyter Notebook
# ===========================

.ipynb_checkpoints/

# ===========================
# PyTorch Models
# ===========================

*.pt
*.pth

# ===========================
# Logs
# ===========================

*.log

# ===========================
# IDEs
# ===========================

.vscode/
.idea/

# ===========================
# macOS
# ===========================

.DS_Store

# ===========================
# Windows
# ===========================

Thumbs.db
desktop.ini

# ===========================
# Build Files
# ===========================

build/
dist/
*.egg-info/

# ===========================
# Environment Variables
# ===========================

.env

# ===========================
# Temporary Files
# ===========================

*.tmp
*.bak
